node_modules
dist
dist-vscode
dist-ocm
dist-vscode-ocm
coverage
*.local
.DS_Store
# vscode extension build products
apps/vscode/out
apps/vscode/media
apps/vscode/LICENSE
apps/vscode/CHANGELOG.md
apps/vscode-ocm/out
apps/vscode-ocm/media
apps/vscode-ocm/LICENSE
apps/vscode-ocm/CHANGELOG.md
*.vsix
